<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/favicon-180x180-v3.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16-v3.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="24x24" href="{{ "/assets/icon/favicon-24x24-v3.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32-v3.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="48x48" href="{{ "/assets/icon/favicon-48x48-v3.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="64x64" href="{{ "/assets/icon/favicon-64x64-v3.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="stylesheet" href="https://kit.fontawesome.com/ca934f7594.css" crossorigin="anonymous">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>
