<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/calendar/' %} active {% endif %}"><a href="{{ "/calendar/" | absolute_url }}">Calendar</a></li>
  <li class="{% if page.url contains '/faq/' %} active {% endif %}"><a href="{{ "/faq/" | absolute_url }}">FAQ</a></li>
  <li class="{% if page.url contains '/badges/' %} active {% endif %}"><a href="{{ "/badges/" | absolute_url }}">Badges</a></li>
  <li class="{% if page.url contains '/ctf/' %} active {% endif %}"><a href="{{ "/ctf/" | absolute_url }}">CTF</a></li>
</ul>
